.add-task-main {
    height: 82vh;
    overflow-x: auto;
    max-width: calc(1440px - 232px);
    padding: 60px 80px 20px 80px;
    z-index: 1;
}

.add-task-form {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.add-task-form label {
    display: flex;
}

.add-task-form input,
.add-task-form textarea {
    outline: none;
}

.add-task-form label,
.add-task-form input,
.add-task-form textarea {
    cursor: pointer;
}

.add-task-form-main {
    width: 100%;
    display: flex;
    gap: 48px;
}

.add-task-form-left,
.add-task-form-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.add-task-form-left>div,
.add-task-form-right>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.add-task-form-left-title-input,
.add-task-form-default-inputs {
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    height: 48px;
}

.add-task-form-left-title-input {
    padding: 12px 21px;
}

.add-task-form-default-inputs {
    padding: 12px 16px;
}

.add-task-form-input-required-container {
    height: 64px;
}

.add-task-form-required {
    color: #FF8190;
}

.add-task-form-textarea {
    height: 120px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 18px 16px;
}

.add-task-due-date-label,
.add-task-assigned-to-category-label {
    position: relative;
    flex-direction: column;
    gap: 8px;
}

.add-task-required-label-head {
    display: flex;
}

.add-task-due-date-label-calender-svg {
    position: absolute;
    bottom: 40px;
    right: 16px;
    transform: translateY(50%);
}

.add-task-due-date-label-placeholder-svg {
    z-index: 1;
    position: absolute;
    bottom: 38px;
    left: 16px;
    transform: translateY(50%);
    background-color: #FFFFFF;
}

.add-task-form-seperator {
    width: 0;
    height: 424px;
    border: 1px solid #d1d1d1;
}

.add-task-priority-btns-container {
    height: 88px;
}

.add-task-priority-btns {
    display: flex;
    gap: 16px;
}

.add-task-priority-btns button {
    cursor: pointer;
    width: 30%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 10px;
    gap: 8px;
    border-radius: 10px;
    border-width: 0;

}

.add-task-priority-btns-hover-class:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add-task-priority-btn-urgent-active {
    background-color: #FF3D00;
}

.add-task-priority-btn-medium-active {
    background-color: #FFA800;
}

.add-task-priority-btn-low-active {
    background-color: #7AE229;
}

.add-task-priority-btn-urgent-active p,
.add-task-priority-btn-medium-active p,
.add-task-priority-btn-low-active p {
    color: #FFFFFF;
}

.add-task-priority-btns button>p {
    font-size: 20px;
    font-weight: 400;
}

.add_task_priority_active_svg path {
    fill: white;
}

.add-task-form-assigned-to-arrow-down-svg,
.add-task-form-assigned-to-arrow-up-svg {
    position: absolute;
    bottom: 0;
    right: 16px;
}

.add-task-form-assigned-to-arrow-down-svg {
    transform: translateY(-50%);
}

.add-task-form-assigned-to-arrow-up-svg {
    transform: translateY(-50%) rotate(180deg);
}

.add-task-form-assigned-to-dropdown,
.add-task-form-assigned-to-dropdown-contacts,
.add-task-form-category-dropdown,
.add-task-form-category-dropdown-category,
.add-task-subtaks-dropdown,
.add-task-form-subtasks-dropdown-subtasks {
    display: flex;
    flex-direction: column;
}


.add-task-form-assigned-to-dropdown-contacts,
.add-task-form-category-dropdown-category {
    gap: 2px;
    background-color: #FFFFFF;
    max-height: 288px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.add-task-form-assigned-to-dropdown-contacts {
    z-index: 2;
}

.add-task-form-category-dropdown-category {
    z-index: 1;
}

.add-task-form-assigned-to-dropdown-contacts li,
.add-task-form-category-dropdown-category li {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.add-task-form-assigned-to-dropdown-contacts li {
    justify-content: space-between;
    padding: 7px 16px;
}

.add-task-form-category-dropdown-category li {
    justify-content: flex-start;
    padding: 12px 16px;
}

.add-task-form-assigned-to-dropdown-contacts-default-hover-class:hover {
    background-color: #EEEEEE;
}

.add-task-form-assigned-to-dropdown-contacts-checked {
    background-color: #2A3647;
}

.add-task-form-assigned-to-dropdown-contacts-checked .add-task-form-assigned-to-dropdown-list-contact>p {
    color: #FFFFFF;
}

.add-task-form-assigned-to-dropdown-contacts-checked:hover {
    background-color: #091931;
}

.add-task-form-assigned-to-dropdown-list-contact {
    display: flex;
    align-items: center;
    gap: 16px;
}

.add-task-form-assigned-to-dropdown-contacts-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-form-assigned-to-dropdown-contacts-icon>p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.add-task-form-subtasks-btns,
.add_task_form_subtasks_dropdown_subtasks-btns {
    display: flex;
    align-items: center;
    gap: 4px;
}

.add-task-form-subtasks-btns {
    position: absolute;
    bottom: 0;
    right: 16px;
    transform: translateY(-50%);
}

.add-task-form-subtasks-btns button,
.add_task_form_subtasks_dropdown_subtasks-btns button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    height: 24px;
    width: 24px;
}

.add-task-form-subtasks-dropdown-subtasks {
    list-style: disc;
    padding-left: 44px;
}

.list-style-none {
    list-style: none;
    padding: 0;
}

.add-task-form-subtasks-dropdown-subtasks-list-item {
    padding: 6px 16px 16px 0;
    height: 32px;
}

.add-task-form-subtasks-dropdown-subtasks-list-item-subtask-title {
    /* font-size: 16px; */
    font-weight: 400;
}

.add-task-form-subtasks-dropdown-subtasks-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-form-subtasks-dropdown-subtasks-list-item-subtask-input {
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 400;
}

.add-task-subtasks-input-seperator,
.add-task-subtasks-dropdown-subtasks-item-seperator {
    width: 0;
    height: 24px;
}

.add-task-subtasks-input-seperator {
    border: 1px solid #D1D1D1;
}

.add-task-subtasks-dropdown-subtasks-item-seperator {
    border: 1px solid #A8A8A8;
}

.add-task-inputfield-highlight {
    border-color: #29ABE2; 
}

.add-task-footer-and-btns {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.add-task-form-info-container {
    display: flex;
}

.add-task-form-btns {
    display: flex;
    justify-content: center;
    height: 56px;
    gap: 16px;
}

.add-task-form-btns>button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
}

.add-task-form-clear-btn {
    padding: 12px 12px;
    border-radius: 10px;
    border: 1px solid #2A3647;

}

.add-task-form-clear-btn>p {
    font-size: 20px;
    font-weight: 400px;
}

.add-task-form-create-btn {
    padding: 12px 12px;
    background-color: #2A3647;
    border-width: 0;
}

.add-task-form-create-btn>p {
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
}

.add-tast-form-required-msg {
    font-size: 14px;
    font-weight: 400;
    color: #E60026;
}

.add-task-form-input-placeholder-default::placeholder,
.add-task-form-input-placeholder-black::placeholder {
    font-size: 20px;
    font-weight: 400;
    color: #D1D1D1;
}

.add-task-form-input-placeholder-default::placeholder {
    color: #D1D1D1;
}

.add-task-form-input-placeholder-black::placeholder {
    color: #000000;
}

.add-task-form-subtasks-dropdown-subtasks-item label,
.add-task-form-subtasks-dropdown-subtasks-item input {
    width: 100%;
    height: 32px;
}

.add-task-form-subtasks-dropdown-subtasks-item label {
    position: relative;
}

.add_task_form_subtasks_dropdown_subtasks-btns {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.add-task-form-subtasks-dropdown-subtasks-item input {
    border: none;
    border-bottom: 1px solid #29ABE2;
}

.h-136 {
    height: 136px;
}

.h-96 {
    height: 96px;
}

.h-80 {
    height: 80px;
}

.h-16 {
    height: 16px;
}

.w-100 {
    width: 100%;
}

.d_none {
    display: none;
}