
@media (max-width: 1440px) {

main{
    height: auto;
    padding: 0 0 100px 0;
}

}

@media (max-width: 800px){
   .form_wrapper{
    flex-direction: column;
    gap: 16px;
    max-height: 60vh;
    overflow: auto;
    scrollbar-width: none;
    margin: 16px 0 0 5%;
    width: 90%;
   }

   .ad h2{
    margin: 40px 0 20px 5%;
   }

   .input_container{
    gap: 16px;
   }

   .ad label{
    font-size: 16px;
   }

   .priority_wrapper button {
    font-size: 16px;
   }

   .ad textarea{
    font-size: 16px;
   }

   .ad input{
    font-size: 16px;
   }

   .required_info{
    position: static;
   }

   .submit_container
{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
}