.add-task-form,
.add-task-form-left,
.add-task-form-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-task-main,
.add-task-form-left>div,
.add-task-form-right>div,
.add-task-form-assigned-to-dropdown,
.add-task-form-assigned-to-dropdown-contacts,
.add-task-form-category-dropdown,
.add-task-form-category-dropdown-category,
.add-task-subtaks-dropdown,
.add-task-form-subtasks-dropdown-subtasks {
    display: flex;
    flex-direction: column;
    animation: blendIn 0.2s ease-in-out;
    height: auto;
}

.add-task-form-subtasks-dropdown-subtasks {
    flex-direction: column-reverse !important;
}

.add-task-main {
    max-width: calc(1440px - 232px);
    padding: 60px 80px 60px 80px;
    z-index: 1;
}

.add-task-form {
    height: 560px;
    margin-top: 48px;
    justify-content: space-between;
}

.add-task-form-main {
    width: 100%;
    display: flex;
    gap: 48px;
}

.add-task-form-left,
.add-task-form-right {
    width: 50%;
    gap: 24px;
}

.add-task-form-left {
    height: 376px;
}

.add-task-form-right {
    height: 400px;
}

.add-task-form-left>div,
.add-task-form-right>div {
    width: 100%;
    gap: 8px;
}

.add-task-form-seperator {
    width: 0;
    height: 424px;
    border: 1px solid #d1d1d1;
}

.add-task-form-assigned-to-dropdown-contacts,
.add-task-form-category-dropdown-category {
    gap: 2px;
    background-color: #FFFFFF;
    max-height: 288px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.add-task-form-assigned-to-section {
    position: relative;
}

.add-task-subtaks-dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 80px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(42, 54, 71, 1) transparent;
}

.add-task-subtaks-dropdown ul::-webkit-scrollbar-track {
    background: transparent;
}

.required-msg {
    position: absolute;
    bottom: -3px;
    transform: translateY(50%);
    font-size: 14px;
    font-weight: 400;
    color: #E60026;
}

.add-task-form-assigned-to-dropdown,
.add-task-form-category-dropdown {
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
}

.add-task-form-assigned-to-dropdown-contacts,
.add-task-form-category-dropdown-category {
    z-index: 2;
}

.add-task-form-assigned-to-dropdown-contacts li,
.add-task-form-category-dropdown-category li {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.add-task-form-assigned-to-dropdown-contacts li {
    justify-content: space-between;
    padding: 7px 16px;
}

.add-task-form-category-dropdown-category li {
    justify-content: flex-start;
    padding: 12px 16px;
}

.add-task-form-assigned-to-dropdown-contacts-default-hover-class:hover {
    background-color: #EEEEEE;
}

.add-task-form-assigned-to-dropdown-contacts-checked {
    background-color: #2A3647;
}

.add-task-form-assigned-to-dropdown-contacts-checked .add-task-form-assigned-to-dropdown-list-contact>p {
    color: #FFFFFF;
}

.add-task-form-assigned-to-dropdown-contacts-checked:hover {
    background-color: #091931;
}

.add-task-form-assigned-to-dropdown-list-contact {
    display: flex;
    align-items: center;
    gap: 16px;
}

.add-task-form-assigned-to-dropdown-contacts-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.add-task-form-assigned-to-dropdown-contacts-icon>p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.current-assigned-to-contacts-container {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.current-assigned-to-contact {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.current-assigned-to-contact>p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.list-style-none {
    list-style: none;
}

.add-task-form-subtasks-dropdown-subtasks-list-item {
    cursor: pointer;
    list-style: none;
    padding: 6px 16px 6px 24px;
    height: 32px;
    position: relative;
    border-radius: 10px;
}

.add-task-form-subtasks-dropdown-subtasks-list-item:hover {
    background-color: #EEEEEE;
}

.add-task-form-subtasks-dropdown-subtasks-list-item::before {
    position: absolute;
    left: 24px;
    top: 14px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #2A3647;
    pointer-events: none;
}

.add-task-form-subtasks-dropdown-subtasks-list-item-subtask-title {
    font-size: 16px;
    font-weight: 400;
}

.add-task-form-subtasks-dropdown-subtasks-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.add-task-subtaks-dropdown ul {
    list-style: none;
}

.add-task-subtasks-input-seperator,
.add-task-subtasks-dropdown-subtasks-item-seperator {
    width: 0;
    height: 24px;
}

.add-task-subtasks-input-seperator {
    border: 1px solid #D1D1D1;
}

.add-task-subtasks-dropdown-subtasks-item-seperator {
    border: 1px solid #A8A8A8;
}

.add-task-form-info-container {
    display: flex;
}

.add-task-red-border {
    border-color: #E60026;
}

.h-136 {
    height: 136px;
}

.h-96 {
    height: 96px;
}

.h-80,
.subtasks-container {
    transition: height 150ms ease-out;
}

.h-80 {
    height: 80px;
    position: relative;
}

.h-130 {
    height: 130px;
    transition: height 150ms ease-out;
}

.w-100 {
    width: 100%;
}

.d_none {
    display: none !important;
}