@media (max-width: 1400px) {
    .add-task-main {
        max-width: 100%;
    }
}

@media (max-width: 1140px) {
    .add-task-main {
        padding: 40px 60px;
    }
}

@media (max-width: 1050px) {

    #add_task_priority_urgent,
    #add_task_priority_medium,
    #add_task_priority_low {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 850px) {
    .add-task-main {
        padding: 0 0 10px 0;
    }

    .add-task-main h2 {
        margin: 20px 0 0 20px;
    }

    .add-task-form {
        margin: 20px 0 0 0;
        padding: 0 0 20px 0;
        height: 71vh;
        overflow-x: auto;
        scrollbar-width: thin;
    }

    .add-task-form-main {
        scrollbar-width: none;
        max-height: 100vh;
        align-items: center;
    }

    .add-task-form-main {
        flex-direction: column;
        gap: 24px;
    }

    .add-task-form-seperator {
        display: none;
    }

    .add-task-form-left,
    .add-task-form-right {
        width: 95%;
        gap: 24px;
    }

    .add-task-subtaks-dropdown {
        background-color: #FFFFFF;
    }

    .add-task-subtaks-dropdown ul {
        max-height: 120px;
        /* overflow-y: visible; */
    }

    .add-task-footer-and-btns {
        flex-direction: column;
        gap: 12px;
        margin: 10px 10px 0 10px;
    }

    .h-80 {
        height: auto;
    }

}

@media (max-width: 550px) {
    .add-task-form-btns {
        gap: 8px;
    }
}