.add-task-form,
.add-task-form-left,
.add-task-form-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-task-main,
.add-task-form-left>div,
.add-task-form-right>div,
.add-task-form-assigned-to-dropdown,
.add-task-form-assigned-to-dropdown-contacts,
.add-task-form-category-dropdown,
.add-task-form-category-dropdown-category,
.add-task-subtaks-dropdown,
.add-task-form-subtasks-dropdown-subtasks {
    display: flex;
    flex-direction: column;
    animation: blendIn 0.2s ease-in-out;
}

.add-task-main {
    max-width: calc(1440px - 232px);
    padding: 60px 80px 60px 80px;
    z-index: 1;
}

.add-task-form {
    height: 580px;
    margin-top: 48px;
    justify-content: space-between;
}

.add-task-form label {
    display: flex;
}

.add-task-form input,
.add-task-form textarea {
    outline: none;
}

.add-task-form label,
.add-task-form input,
.add-task-form textarea {
    cursor: pointer;
}

.add-task-form-main {
    width: 100%;
    display: flex;
    gap: 48px;
    height: 400px;
}

.add-task-form-left,
.add-task-form-right {
    width: 50%;
}


.add-task-form-left>div,
.add-task-form-right>div {
    width: 100%;
    gap: 8px;
}

.add-task-form-left-title-input,
.add-task-form-default-inputs {
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    height: 48px;
}

.add-task-form-left-title-input {
    padding: 12px 21px;
}

.add-task-form-default-inputs {
    padding: 12px 16px;
}

.add-task-form-input-required-container {
    height: 64px;
}

.add-task-form-required {
    color: #FF8190;
}

.add-task-form-textarea {
    height: 120px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 18px 16px;
    resize: none;
    scrollbar-width: thin;
}

.add-task-due-date-label,
.add-task-assigned-to-category-label {
    position: relative;
    flex-direction: column;
    gap: 8px;
}

.add-task-required-label-head {
    display: flex;
}

.add-task-due-date-label-calender-svg,
.add-task-due-date-label-placeholder-svg {
    position: absolute;
    transform: translateY(50%);
}

.add-task-due-date-label-calender-svg {
    bottom: 40px;
    right: 16px;
}

.add-task-due-date-label-placeholder-svg {
    z-index: 1;
    bottom: 38px;
    left: 16px;
    background-color: #FFFFFF;
}

.add-task-form-seperator {
    width: 0;
    height: 424px;
    border: 1px solid #d1d1d1;
}

.add-task-priority-btns-container {
    height: 88px;
}

.add-task-priority-btns {
    display: flex;
    gap: 16px;
}

.add-task-priority-btns button,
.add-task-form-assigned-to-arrow-down-svg,
.add-task-form-assigned-to-arrow-up-svg,
.add-task-form-subtasks-btns button,
.add-task-form-subtasks-dropdown-subtasks-edit-btns button,
.add-task-form-assigned-to-dropdown-contacts-icon,
.current-assigned-to-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-form-subtasks-dropdown-subtasks-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.add-task-form-subtasks-dropdown-subtasks-btns button:hover{
    transform: translateY(1px);
}

.add-task-priority-btns button {
    cursor: pointer;
    width: 30%;
    height: 56px;
    padding: 16px 10px;
    gap: 8px;
    border-radius: 10px;
    border-width: 0;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.add-task-priority-btns-hover-class:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add-task-priority-btn-urgent-active {
    background-color: #FF3D00 !important;
}

.add-task-priority-btn-medium-active {
    background-color: #FFA800 !important;
}

.add-task-priority-btn-low-active {
    background-color: #7AE229 !important;
}

.add-task-priority-btn-urgent-active p,
.add-task-priority-btn-medium-active p,
.add-task-priority-btn-low-active p {
    color: #FFFFFF;
}

.add-task-priority-btns button>p {
    font-size: 20px;
    font-weight: 400;
}

.add-task-priority-active-svg path {
    fill: white;
}

.add-task-form-assigned-to-arrow-down-svg,
.add-task-form-assigned-to-arrow-up-svg {
    position: absolute;
    bottom: 0;
    right: 16px;
    height: 24px;
    width: 24px;
}

.add-task-form-assigned-to-arrow-down-svg {
    transform: translateY(-50%);
}

.add-task-form-assigned-to-arrow-up-svg {
    transform: translateY(-50%) rotate(180deg);
}

.add-task-form-assigned-to-dropdown-contacts,
.add-task-form-category-dropdown-category {
    gap: 2px;
    background-color: #FFFFFF;
    max-height: 288px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.add-task-form-assigned-to-section {
    position: relative;
}

.add-task-subtaks-dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 80px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(42, 54, 71, 1) transparent;
}

.add-task-form-subtasks-btns button{
    background-color: transparent;
}

.add-task-form-subtasks-btns button:hover{
    background-color: rgb(238, 238, 238);
}

.add-task-form-assigned-to-arrow-down-svg:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
}

.add-task-due-date-label-calender-svg:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
}

.add-task-subtaks-dropdown ul::-webkit-scrollbar-track {
    background: transparent;
}

.required-msg-category {
    position: absolute;
    bottom: -3px;
    transform: translateY(50%);
}

.add-task-form-assigned-to-dropdown,
.add-task-form-category-dropdown {
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
}

.add-task-form-assigned-to-dropdown-contacts,
.add-task-form-category-dropdown-category {
    z-index: 2;
}

.add-task-form-assigned-to-dropdown-contacts li,
.add-task-form-category-dropdown-category li {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.add-task-form-assigned-to-dropdown-contacts li {
    justify-content: space-between;
    padding: 7px 16px;
}

.add-task-form-category-dropdown-category li {
    justify-content: flex-start;
    padding: 12px 16px;
}

.add-task-form-assigned-to-dropdown-contacts-default-hover-class:hover {
    background-color: #EEEEEE;
}

.add-task-form-assigned-to-dropdown-contacts-checked {
    background-color: #2A3647;
}

.add-task-form-assigned-to-dropdown-contacts-checked .add-task-form-assigned-to-dropdown-list-contact>p {
    color: #FFFFFF;
}

.add-task-form-assigned-to-dropdown-contacts-checked:hover {
    background-color: #091931;
}

.add-task-form-assigned-to-dropdown-list-contact {
    display: flex;
    align-items: center;
    gap: 16px;
}

.add-task-form-assigned-to-dropdown-contacts-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.add-task-form-assigned-to-dropdown-contacts-icon>p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.current-assigned-to-contacts-container {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.current-assigned-to-contact {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.current-assigned-to-contact>p {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

.add-task-form-subtasks-btns,
.add-task-form-subtasks-dropdown-subtasks-btns,
.add-task-form-subtasks-dropdown-subtasks-edit-btns {
    display: flex;
    align-items: center;
    gap: 4px;
}

.add-task-form-subtasks-btns,
.add-task-form-subtasks-dropdown-subtasks-btns {
    position: absolute;
    transform: translateY(-50%);
}

.add-task-form-subtasks-btns {
    bottom: 0;
    right: 16px;

}

.add-task-form-subtasks-dropdown-subtasks-btns {
    right: 0;
    top: 50%;
}

.add-task-form-subtasks-btns button,
.add-task-form-subtasks-dropdown-subtasks-btns button,
.add-task-form-subtasks-dropdown-subtasks-edit-btns button {
    cursor: pointer;
    border-width: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.list-style-none {
    list-style: none;
}

.add-task-form-subtasks-dropdown-subtasks-list-item {
    cursor: pointer;
    list-style: none;
    padding: 6px 16px 6px 40px;
    height: 32px;
    position: relative;
    border-radius: 10px;
}

.add-task-form-subtasks-dropdown-subtasks-list-item:hover {
    background-color: #EEEEEE;
}

.add-task-form-subtasks-dropdown-subtasks-list-item::before {
    content: "•";
    position: absolute;
    left: 24px;
    top: 14px;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: #2A3647;
    pointer-events: none;
}

.add-task-form-subtasks-dropdown-subtasks-list-item-subtask-title{
    font-size: 16px;
    font-weight: 400;
}

.add-task-form-subtasks-dropdown-subtasks-list-item-subtask-input {
    font-size: 16px;
    font-weight: 400;
    background-color: white;
}

.add-task-form-subtasks-dropdown-subtasks-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.add-task-form-subtasks-dropdown-subtasks-list-item-subtask-input {
    padding: 4px 16px;
}

.add-task-subtasks-input-seperator,
.add-task-subtasks-dropdown-subtasks-item-seperator {
    width: 0;
    height: 24px;
}

.add-task-subtasks-input-seperator {
    border: 1px solid #D1D1D1;
}

.add-task-subtasks-dropdown-subtasks-item-seperator {
    border: 1px solid #A8A8A8;
}

.add-task-inputfield-highlight {
    border-color: #29ABE2;
}

.add-task-footer-and-btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.add-task-form-info-container {
    display: flex;
}

.add-task-form-btns {
    display: flex;
    justify-content: center;
    height: 56px;
    gap: 16px;
}

.add-task-form-btns>button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
}

.add-task-form-clear-btn,
.add-task-form-create-btn {
    cursor: pointer;
    padding: 12px 12px;
}

.add-task-form-clear-btn {
    width: 104px;
    border-radius: 10px;
    border: 1px solid #2A3647;
}

.add-task-form-clear-btn:hover {
    border: 2px solid #29ABE2;
}

.add-task-form-clear-btn:hover>p,
.add-task-form-clear-btn:hover>svg path {
    color: #29ABE2;
    stroke: #29ABE2;
}

.add-task-form-clear-btn:active {
    border: 1px solid #091931;
}

.add-task-form-clear-btn:active>p,
.add-task-form-clear-btn:active>svg path {
    color: #091931;
    stroke: #091931;
}

.add-task-form-clear-btn>p,
.add-task-form-input-placeholder-default::placeholder,
.add-task-form-input-placeholder-black::placeholder {
    font-size: 20px;
    font-weight: 400;
}

.add-task-form-create-btn {
    background-color: #2A3647;
    border-width: 0;
}

.add-task-form-create-btn:hover {
    background-color: #29ABE2;
}

.add-task-form-create-btn:active {
    background-color: #091931;
}

.add-task-form-create-btn>p {
    font-size: 21px;
    font-weight: 700;
    color: #FFFFFF;
}

.add-tast-form-required-msg {
    font-size: 14px;
    font-weight: 400;
    color: #E60026;
}

.add-task-red-border {
    border-color: #E60026;
}

.add-task-form-input-placeholder-default::placeholder,
.add-task-form-input-placeholder-black::placeholder {
    color: #D1D1D1;
}

.add-task-form-input-placeholder-default::placeholder {
    color: #D1D1D1;
}

.add-task-form-input-placeholder-black::placeholder {
    color: #000000;
}

.add-task-form-subtasks-dropdown-subtasks-item label,
.add-task-form-subtasks-dropdown-subtasks-item input {
    width: 100%;
    height: 32px;
}

.add-task-form-subtasks-dropdown-subtasks-item label {
    position: relative;
}

.add-task-form-subtasks-dropdown-subtasks-edit-btns {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.add-task-form-subtasks-dropdown-subtasks-edit-btns button {
    background-color: transparent;
}

.add-task-form-subtasks-dropdown-subtasks-edit-btns button:hover {
    background-color: #EEEEEE;
}

.add-task-form-subtasks-dropdown-subtasks-item input {
    border: none;
    border-bottom: 1px solid #29ABE2;
}

.h-136 {
    height: 136px;
}

.h-96 {
    height: 96px;
}

.h-80 {
    height: 80px;
    transition: height 150ms ease-out;
}

.h-130 {
    height: 130px;
    transition: height 150ms ease-out;
}

.h-16 {
    height: 16px;
}

.w-100 {
    width: 100%;
}

#add_task_title,
#add_task_description,
#add_task_due_date,
#add_task_assigned_to,
#add_task_category,
#add_task_subtasks {
    font-size: 20px;
    font-weight: 400;
    background-color: white;
}

#add_task_description {
    font-size: 21px;
}

.d_none {
    display: none !important;
}