@media (max-width: 1400px) {
    .add-task-main {
        max-width: 100%;
        padding: 40px 40px 20px 40px;
    }

    .add-task-form{
        height: 550px;
    }
}

@media (max-width: 1140px) {
    .add-task-main {
        padding: 40px 60px;
    }
}

@media (max-width: 1050px) {

    #add_task_priority_urgent,
    #add_task_priority_medium,
    #add_task_priority_low {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 850px) {
    .add-task-main {
        padding: 0 0 10px 0;
    }

    .add-task-main h2 {
        padding: 20px 0 0 20px;
    }

    .add-task-form {
        margin: 20px 0 0 0;
        padding: 0 20px 80px;
        scrollbar-width: thin;
        height: auto;
    }

    .add-task-form-main {
        flex-direction: column;
        scrollbar-width: none;
        align-items: center;
        height: auto;
        gap: 0;
    }

    .add-task-form-seperator {
        display: none;
    }

    .add-task-form-left{
        width: 100%;
        justify-content: unset;
        height: auto;
    }

    .h-96{
        height: auto;
    }

    .h-16{
        height: 24px;
    }

    .h-136{
        height: auto;
    }

    .add-task-form-right {
        width: 100%;
        gap: 24px;
        height: auto;
    }

    .add-task-priority-btns-container{
        height: auto;
        background-color: transparent;
    }

    .add-task-subtaks-dropdown ul {
        max-height: fit-content;
        overflow: visible;
    }

    .add-task-footer-and-btns {
        flex-direction: column;
        margin-top: 24px;
        gap: 12px;
    }

    .h-80 {
        height: auto;
    }

    .add-task-priority-btns{
        justify-content: space-between;
    }

    .add-task-form-info-container{
        display: none;
    }

}

@media (max-width: 550px) {
    .add-task-form-btns {
        gap: 8px;
    }
}