.board-page {
    display: flex;
    flex-direction: column;
    max-width: calc(1440px - 232px);
}

.board-header {
    width: 100%;
    background-color: transparent;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 80px 80px 40px 80px;
}

.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-actions {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 48px;
}

.resp-add-task-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.resp-add-task-button button {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    padding: 3px;
    background-color: rgba(42, 54, 71, 1);
    border: none;
    cursor: pointer;
    transition: 100ms;
    justify-content: center;
    align-items: center;
}

.resp-add-task-button button:hover {
    background-color: rgba(41, 171, 226, 1);
}

.board-actions>button {
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 21px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;
    cursor: pointer;
    transition: 100ms;
    text-wrap-mode: nowrap;
}

.board-actions>button:hover {
    background-color: rgba(41, 171, 226, 1);
}

.search-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(168, 168, 168, 1);
    border-radius: 10px;
    padding: 8px 16px;
    height: 100%;
    width: 312px;
    cursor: pointer;
}

.search-task:focus-within {
    border-color: rgba(41, 171, 226, 1);
}

.search-task label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.search-task input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
}

.search-task input {
    border: none;
    font-size: 20px;
    height: 100%;
    background-color: transparent;
    width: 200px;
    cursor: pointer;
}

.search-task input:focus {
    outline: none;
}

.search-task .search-button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48px;
    gap: 16px;
    cursor: pointer;
}

.search-task .search-button-section .search-divider {
    background-color: rgba(209, 209, 209, 1);
    height: 30px;
    width: 1px;
    cursor: pointer;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.search-button:hover {
    background-color: rgba(209, 209, 209, 1);
    cursor: pointer;
}

.search-task svg {
    fill: #2A3647;
}

.search-task svg:active {
    fill: rgba(41, 171, 226, 1);
}

.column {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.column header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column header svg {
    cursor: pointer;
    stroke: #2A3647;
}

.column header svg:hover {
    stroke: #29abe2;
}

.kanban-board {
    display: flex;
    width: 100%;
    padding: 0 80px;
    justify-content: space-between;
}

.task-list::-webkit-scrollbar {
    display: none;
}

.task-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    overflow-y: auto;
    padding: 10px;
    border: 1px dashed transparent;
    max-height: calc(100vh - 315px);
    min-height: calc(100vh - 315px);
    
}

.task {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    padding: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.task:active {
    cursor: grab;
}

.no-task {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    border: dashed 1px rgba(168, 168, 168, 1);
    background-color: rgba(231, 231, 231, 1);
    color: rgba(168, 168, 168, 1);
}

.task header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task header button {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 26px;
    display: none;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.task-label {
    width: fit-content;
    padding: 4px 16px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
}

.task-label:empty {
    display: none;
}

.task-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    color: rgba(168, 168, 168, 1);
}

.task-desc:empty {
    display: none;
}

.progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress:empty {
    display: none;
}

.progress-track {
    width: 50%;
    height: 8px;
    border-radius: 16px;
    overflow: hidden;
    background-color: rgba(244, 244, 244, 1);
}

.progress-fill {
    background-color: rgba(69, 137, 255, 1);
    height: 100%;
}

.subtasks {
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.task footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task footer:empty {
    display: none;
}

.task-assignees {
    display: flex;
}

.task-priority {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-logo {
    height: 32px;
    width: 32px;
    border: 2px solid white;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
    font-size: 12px;
    color: white;
}

.user-logo:first-child {
    margin-left: 0;
}

.more-user-logo {
    height: 32px;
    width: 32px;
    background-color: rgba(231, 231, 231, 1);
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border-color: grey;
}

.drag-area-highlight * {
    pointer-events: none;
}

.resp-menu-task {
    background-color: #2A3647;
    position: absolute;
    right: 0;
    transform: translateX(50%);
    z-index: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    gap: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.resp-menu-task>span {
    font-size: 16px;
    font-weight: 700;
}

.resp-menu-task button div {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resp-menu-task button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 8px;
    padding: 4px 5px 4px 2px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    width: 100%;
}

.resp-menu-task-deactive {
    color: grey;
    fill: gray;
}