@keyframes contactTemplate {
    from {
        left: 100vw;
        display: flex;
    }

    to {
        left: 0;
    }
}

@keyframes createdMsgIn {
    from {
        left: 100vw;
    }

    to {
        left: 0;
    }
}

@keyframes createdMsgOut {
    from {
        left: 0;
    }

    to {
        left: 100vw;
    }
}

@keyframes fadeIn {
        from {
            left: 150vw;
        }

        to {
            left: 50%;
        }
    }

    @keyframes fadeOut {
        from {
            left: 50%;
        }

        to {
            left: 150vw;
        }
    }

@keyframes overlayShadow {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 1100px) {

    @keyframes fadeIn {
        from {
            top: 150vh;
        }

        to {
            top: 50%;
        }
    }

    @keyframes fadeOut {
        from {
            top: 50%;
        }

        to {
            top: 150vh;
        }
    }
}

@media (max-width:525px) {

    @keyframes smallMenuIn {
        from {
            right: -116px;
        }

        to {
            right: 8px;
        }
    }

    @keyframes smallMenuOut {
        from {
            right: 8px;
        }

        to {
            right: -116px;
        }
    }

    @keyframes createdMsgIn {
        from {
            top: 100vh;
        }

        to {
            top: 0;
        }
    }

    @keyframes createdMsgOut {
        from {
            top: 0;
        }

        to {
            top: 100vh;
        }
    }
}