.overlay-contacts,
.overlay-shadow-pos-rel-container,
.overlay-edit-contact-card-container,
.overlay-left-side,
.responsiv-overlay-card-close-btn,
.overlay-right-side,
.overlay-character-icon-edit-contact,
.add-contact-close-icon-container,
.add-contact-cancel-btn,
.add-contact-create-contact-btn,
.edit-contact-delete-btn,
.edit-contact-save-contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-contacts {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
}

.overlay-contacts-bckgrnd-animation {
    animation: overlayShadow 300ms ease forwards;
}

.overlay-shadow-pos-rel-container,
.overlay-edit-contact-card-container {
    height: 100%;
    width: 100%;
}

.overlay-shadow-pos-rel-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.2);
}

.overlay-edit-contact-card-container {
    position: relative;
}

.overlay-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 594px;
    width: 1212px;
    border-radius: 31px;
    display: flex;
    max-height: 760px;
}

.overlay-card-fadeIn {
    animation: fadeIn 300ms linear forwards;
}

.overlay-card-fadeOut {
    animation: fadeOut 300ms linear forwards;
}

.overlay-left-side {
    width: 467px;
    height: 100%;
    background-color: #2A3647;
    border-radius: 30px 0 0 30px;
    flex-direction: column;
    padding: 66px 48px;
    position: relative;
}

.responsiv-overlay-card-close-btn-container {
    display: none;
    position: absolute;
    top: 24px;
    right: 16px;
}

.responsiv-overlay-card-close-btn,
.add-contact-btn-svg {
    height: 24px;
    width: 24px;
}

.responsiv-overlay-card-close-btn {
    cursor: pointer;
    border-radius: 50%;
    border-width: 0;
    background-color: #2A3647;

}

.overlay-left-side-content,
.add-contact-card-headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.overlay-left-side-content {
    justify-content: center;
    gap: 12px;
}

.add-contact-card-headline {
    justify-content: space-between;
    gap: 16px;
}

.add-contact-card-underline-styled {
    width: 90px;
    border: 1.5px solid #29ABE2;
    border-radius: 3px;
}

.overlay-right-side {
    width: calc(1212px - 467px);
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-color: #FFFFFF;
}

.add-contact-card-svg {
    height: 66.48px;
    width: 55.6px;
}

.add-contact-card-title {
    font-style: bold;
    color: var(--header-color);
    height: 73px;
}

.add-contact-card-txt {
    font-size: var(--font-size-27);
    font-weight: var(--weight-400);
    color: var(--header-color);
    height: 32px;
}

.overlay-right-side {
    gap: 64px;
}

.overlay-character-icon,
.overlay-character-icon-edit-contact {
    height: 120px;
    width: 120px;
}

.overlay-character-icon-edit-contact {
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.overlay-character-icon-edit-contact>p {
    font-size: var(--font-size-47);
    font-weight: var(--weight-500);
    color: #FFFFFF;
}

.add-contact-content-container,
.create-form,
.create-form-inputfields {
    display: flex;
    flex-direction: column;
}

.add-contact-content-container {
    justify-content: space-between;
    height: 100%;
    padding: 48px 0;
}

.position-container-close-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.add-contact-close-icon-container {
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border-width: 0;
}

.add-contact-close-icon-container:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.add-contact-close-icon {
    cursor: pointer;
    height: 24px;
}

.create-form {
    justify-content: center;
    margin-bottom: 64px;
}

.create-form-inputfields {
    height: 215px;
    width: 100%;
    justify-content: center;
    gap: 16px;
}

.create-form-label {
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding: 13px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}

.create-form-label-highlight {
    border: 1px solid #E60026;
}

.create-form>section>div>label>input,
.create-form>section>div>label>input::placeholder {
    font-size: var(--font-size-20);
    font-weight: var(--weight-400);
}

.create-form>section>div>label>input {
    height: 24px;
    align-items: center;
    width: 422px;
    outline: none;
    border-width: 0;
    cursor: pointer;
}

.create-form>section>div>label>input::placeholder {
    color: #D1D1D1;
}

.create-form>section>div>label>svg {
    cursor: pointer;
    width: 24px;
}

.create-form-inputfields-required {
    height: 16px;
}

.create-form-inputfields-required-msg {
    font-size: var(--font-size-14);
    font-weight: var(--weight-400);
    color: #E60026;
}

.add-contact-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.add-contact-cancel-btn,
.add-contact-create-contact-btn,
.edit-contact-delete-btn,
.edit-contact-save-contact-btn {
    cursor: pointer;
    gap: 4px;
    padding: 16px;
    border-radius: 10px;
}

.add-contact-cancel-btn {
    height: 56px;
    width: 126px;
    border: 1px solid #2A3647;
}

.add-contact-cancel-btn:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add-contact-cancel-btn:hover .add-contact-cancel-btn-txt {
    color: var(--inter-text-accent-color);
}

.add-contact-cancel-btn:hover svg path {
    stroke: #29ABE2;
}

.add-contact-cancel-btn:active {
    border: 1px solid #091931;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add-contact-cancel-btn:active .add-contact-cancel-btn-txt {
    color: var(--side-active-color);
}

.add-contact-cancel-btn:active svg path {
    stroke: #091931;
}

.add-contact-create-contact-btn {
    background-color: #2A3647;
    border-width: 0;
    height: 57px;
    width: 214px;
}

.add-contact-create-contact-btn:hover {
    background-color: #29ABE2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add-contact-create-contact-btn:active {
    background-color: #091931;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add-contact-cancel-btn-txt,
.edti-contact-delete-btn-txt {
    font-size: var(--font-size-20);
    font-weight: var(--weight-400);
    color: var(--inter-text-color);
    height: 24px;
}

.add-contact-create-contact-btn-txt,
.edit-contact-save-contact-btn-txt {
    font-size: var(--font-size-21);
    font-weight: var(--weight-700);
}

.add-contact-create-contact-btn-txt {
    font-style: bold;
    color: var(--header-color);
}

.edit-contact-d-s-buttons {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 48px;
}

.edit-contact-delete-btn {
    height: 55px;
    width: 113px;
    border: 1px solid #2A3647;
}

.edit-contact-delete-btn:hover {
    border: 2px solid #29ABE2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.edit-contact-delete-btn:hover .edti-contact-delete-btn-txt {
    color: var(--inter-text-accent-color);
}

.edit-contact-delete-btn:active {
    border-color: #091931;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.edit-contact-delete-btn:active .edti-contact-delete-btn-txt {
    color: var(--side-active-color);
}

.edit-contact-save-contact-btn {
    background-color: #2A3647;
    border-width: 0;
    height: 57px;
    width: 111px;
}

.edit-contact-save-contact-btn:hover {
    background-color: #29ABE2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.edit-contact-save-contact-btn:active {
    background-color: #091931;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.edit-contact-save-contact-btn-txt {
    color: var(--header-color);
}

.z-2 {
    z-index: 2;
}