.contacts-main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(246, 247, 248, 1);
}

.contacts-content {
    flex: 1;
    display: flex;
    animation: blendIn 0.2s ease-in-out;
}

.add-new-contact-btn-container,
.add-new-contact-btn,
.contact-circle-img-small {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list-area {
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 96px);
    overflow-y: auto;
    scrollbar-width: thin;
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    position: relative;
}

.contacts-contact-section,
.contact-rightside-big-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.contacts-contact-section {
    width: calc(1440px - (232px + 456px));

}

.contact-rightside-big-container {
    flex-direction: column;
    padding-left: 55px;
    position: relative;
}

.contact-big-header-container {
    position: relative;
    width: 100%;
}

.contact-big-back-btn {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    border-width: 0;
}

.contact-big-back-btn:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.contact-list-container {
    width: 400px;
    display: flex;
    justify-content: center;
    padding: 0 24px 32px;
}

.contact-list-content {
    width: 352px;
    display: flex;
    flex-direction: column;
}

.first-contact-list-element {
    padding-top: 0;
    height: 41px;
}

.contact-list {
    display: flex;
    flex-direction: column;
}

.add-new-contact-btn-container {
    width: 100%;
    height: 100px;
    padding: 24px 32px;
    position: sticky;
    background-color: #FFFFFF;
    top: 0;
}

.add-new-contact-btn,
.add-new-contact-btn span,
.contacts-header>h2 {
    font-weight: var(--weight-700);
}

.add-new-contact-btn {
    cursor: pointer;
    background-color: #2a3647;
    color: var(--header-color);
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 12px 12px;
    gap: 16px;
    width: 352px;
    height: 56px;
    font-size: var(--font-size-21);
}

.add-new-contact-btn:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add-new-contact-btn:active {
    background-color: #091931;
    border: 1px solid #091931;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.add-new-contact-btn h3 {
    font-size: var(--font-size-21);
}

.add-new-contact-img {
    width: 32px;
}

.responsiv-add-new-contact-container,
.contact-rightside-menu-btn-container {
    display: none;
}

.contact-list-section-head,
.contact-circle-img-small>p,
.contact-name,
.contact-e-mail,
.contacts-header-txt {
    font-weight: var(--weight-400);
}

.contact-list-section-head {
    color: var(--text-color);
    height: 24px;
    align-content: center;
}

.contact-list-head,
.contact-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact-list-head {
    height: 58px;
    padding: 17px 36px;
}

.first-list-element {
    padding-top: 0;
    height: 41px;
}

.section-seperator-container {
    padding: 8px 0;
    height: 16px;
}

.section-seperator {
    border-bottom: 1.5px solid #D1D1D1;
    border-radius: 3px;
}

.list-items {
    list-style: none;
}

.contact-container {
    cursor: pointer;
    gap: 35px;
    padding: 15px 24px;
    border-radius: 10px;
}

.contact-container-hoverclass:hover {
    background: linear-gradient(#F9F9F9, #F0F0F0);
}

.contact-circle-img-small {
    height: 42px;
    width: 42px;
    min-width: 42px;
    border-radius: 50%;
    border: 2px solid white;
}

.contact-circle-img-small>p {
    font-size: var(--font-size-12);
    color: var(--header-color);
}

.contact-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
    min-height: 48px;
}

.contact-name {
    font-size: var(--font-size-20);
}

.contact-e-mail {
    color: #007cee;
}

.active-contact {
    background-color: #2A3647;
    color: #FFFFFF;
}

.contacts-header,
.contact-header-second-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-header {
    height: 73px;
    gap: 30px;
    margin-top: 110px;
}

.contacts-header>h2 {
    font-size: var(--font-size-61);
}

.contact-header-second-container {
    height: 73px;
    gap: 30px;
}

.contacts-header-seperator {
    border: 1.5px solid #29ABE2;
    height: 59px;
    border-radius: 3px;
}

.contacts-header-txt {
    font-size: var(--font-size-27);
    color: var(--inter-text-color);
}

.delete-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2a3647;
    border-radius: 24px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 8px;
    font-size: 24px;
    z-index: 4;
}

.delete-contact-answer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.delete-contact-answer button {
    background-color: transparent;
    border: unset;
    outline: unset;
}

.delete-contact-answer svg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.delete-contact-answer svg:hover {
    background-color: #091931;
}