@media (max-width:1400px) {
    .overlay-card {
        width: 90%;
    }

    .overlay-left-side {
        width: 39%;
        padding: 66px 8px;
    }

    .add-contact-card-title {
        height: auto;
    }

    .overlay-right-side {
        width: 61%;
        position: relative;
    }

    .overlay-character-icon,
    .overlay-character-icon-edit-contact {
        position: absolute;
        left: 0;
        transform: translateX(-50%);
    }
}

@media (max-width: 1100px) {
    .overlay-card {
        height: 80%;
        width: 396px;
        flex-direction: column;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .overlay-left-side {
        border-radius: 30px 30px 0 0;
        max-height: 352px;
        width: 100%;
    }

    .responsiv-overlay-card-close-btn-container {
        display: flex;
    }

    .overlay-right-side {
        border-radius: 0 0 30px 30px;
        flex-direction: column;
        width: 100%;
    }

    .overlay-character-icon,
    .overlay-character-icon-edit-contact {
        top: 0;
        left: auto;
        transform: translateY(-50%);
    }

    .add-contact-card-svg,
    .add-contact-close-icon-container,
    .add-contact-cancel-btn {
        display: none;
    }

    .overlay-left-side {
        padding: 66px 24px;
        gap: 12px;
        align-items: flex-start;
    }

    .add-contact-card-headline {
        height: 104px;
        width: 282px;
    }

    .add-contact-card-edit-headline {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 282px;
        gap: 12px;
    }

    .add-contact-card-title {
        font-weight: 700;
        height: 58px;
    }

    .add-contact-card-txt {
        font-size: 20px;
    }

    .add-contact-content-container {
        padding-top: 92px;
        align-items: center;
    }

    .create-form {
        margin-bottom: 0;
        width: 364px;
        gap: 33px;
    }

    .create-form-inputfields {
        gap: 7px;
        height: 153px;
    }

    .responsiv-edit-create-form-inputfields {
        height: 171px;
        justify-content: space-between;
        gap: 24px;
    }

    .create-form-label {
        height: 41px;
    }

    .create-form>section>div>label>input {
        width: 100%;
    }

    .add-contact-buttons {
        justify-content: center;
    }

    .edit-contact-d-s-buttons {
        justify-content: center;
        gap: 20px;
    }

    .add-contact-create-contact-btn {
        width: 202px;
        gap: 4px;
    }

    .add-contact-create-contact-btn,
    .edit-contact-d-s-buttons button {
        padding: 18px 10px;
    }

    .add-contact-create-contact-btn,
    .edit-contact-delete-btn,
    .edit-contact-save-contact-btn {
        height: 51px;
    }

    .edit-contact-delete-btn {
        width: 82px;
    }

    .edit-contact-save-contact-btn {
        width: 99px;
    }

}

@media (max-width: 520px) {
    
    .overlay-card {
        width: 90%;
        height: auto;
    }

    .responsiv-overlay-card-close-btn-container {
        top: 16px;
        right: 16px;
    }

    .overlay-left-side {
        height: auto;
        max-height: auto;
        padding: 32px 24px 48px;
        align-items: flex-start;
    }

    .add-contact-card-headline {
        height: auto;
        gap: 8px;
    }

    .add-contact-card-title {
        font-size: 36px;
        height: auto;
    }

    .add-contact-card-txt{
        font-size: 16px;
        height: auto;
    }

    .overlay-character-icon {
        height: 80px;
        width: 80px;
    }

    .overlay-right-side{
        height: auto;
    }

    .add-contact-content-container {
        width: 90%;
        padding: 48px 0 20px;
        height: auto;
    }

    .create-form{
        height: auto;
    }

    .create-form-inputfields{
        height: auto;
    }

    .add-contact-buttons{
        margin: 0;
    }

    .add-contact-card-headline,
    .create-form,
    .add-contact-create-contact-btn {
        width: auto;
    }
}