@keyframes slideMidToLeft {
  from {
    width: 274px;
    height: 335px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  to {
    width: 109px;
    height: 134px;
    position: absolute;
    top: 67px;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

}

@keyframes backgroundBlendOut {
  from {
    background-color: rgba(255, 255, 255, 1);
  }

  to {
    background-color: rgba(255, 255, 255, 0);
    display: none;
  }
}

@keyframes slideInFromBottom {
  from {
    left: 50%;
    bottom: -150px;
    transform: translate(-50%, -50%);
  }

  to {
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Keyframes for slide-in animation from right */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%) translateY(96px);
    opacity: 0;
  }

  100% {
    transform: translateX(-110px) translateY(96px);
    opacity: 1;
  }
}

/* Keyframes for slide-out animation to right */
@keyframes slideOutToRight {
  0% {
    transform: translateX(-110px) translateY(96px);
    opacity: 1;
  }

  100% {
    transform: translateX(100%) translateY(96px);
    opacity: 0;
  }
}

/* keyframes for blend in animation */
@keyframes blendIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.blend-in {
  animation: blendIn 0.5s ease-in forwards;
}