.navbar {
    padding: 64px 0;
    height: 100vh;
    background-color: #2A3647;
    min-width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    width: 40%;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.nav-list li {
    display: flex;
    width: 100%;
}

.navbar-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    width: 100%;
    height: 46px;
    padding: 8px 56px;
    gap: 8px;
    font-size: 16px;
}

.category-logo {
    width: 32px;
    height: 32px;
}

.navbar-link:hover:not(.navbar-active) {
    background-color: #2A3D59;
}

.navbar-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    height: 245px;
    width: 100%;
}

.navbar-footer li {
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-footer a {
    color: #A8A8A8;
    padding: 8px;
    margin-left: 52px;
}

.navbar-footer-link:hover {
    color: #29ABE2;
}

.navbar-active {
    background-color: #091931;
    pointer-events: none;
    cursor: default;
}

@media (max-width: 1350px) {
    .navbar {
        padding: 0;
        height: 80px;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
    }

    .nav-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        width: 100%;
        height: 80px;
    }

    .navbar-footer {
        display: none;
    }

    .navbar > svg{
        display: none;
    }

    .nav-list li {
        flex-direction: column;
        width: 76px;
        height: 76px;

    }

    .navbar-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 16px;
        font-size: 14px;
    }

    .navbar-active {
        border-radius: 16px;
    }

}
