.overlay-board {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
}

.add-task-card {
    max-width: 90%;
    max-height: 70%;
    border-radius: 30px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.add-task-header {
    display: flex;
    justify-content: space-between;
}

.add-task-header>h2 {
    height: 78px;
}

.close-board-overlay {
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.close-board-overlay:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.board-overlay-form {
    display: flex;
    height: 392px;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.board-overlay-submit-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 96px 0 0 10%;
    width: 80%;
}

.board-overlay-submit-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    white-space: nowrap;
    font-size: 21px;
}