.add-task-card {
    max-width: 90%;
    min-width: 1000px;
    max-height: 90%;
    border-radius: 30px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 48px;
    overflow: auto;
}

.add-task-form-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 565px;
    overflow: auto;
}

.add-task-form-overlay label {
    display: flex;
}

.add-task-header {
    display: flex;
    justify-content: space-between;
}

.add-task-header>h2 {
    height: 78px;
}

.close-board-overlay {
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.close-board-overlay:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.board-overlay-form {
    display: flex;
    height: 392px;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}

.board-overlay-submit-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 96px 0 0 10%;
    width: 80%;
}

.board-overlay-submit-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    white-space: nowrap;
    font-size: 21px;
}

.d_f{
    display: flex;
    gap: 2px;
}

.h-96 label {
    display: flex;
}

.add-task-form-left-title-input {
    outline: none;
}

.add-task-form-textarea {
    outline: none;
}

.add-task-form-default-inputs {
    outline: none;
}

.add-task-assigned-to-category-label {
    display: flex;
    gap: 8px;
}

.add-task-form-subtasks-dropdown-subtasks-item input{
    outline: none;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

@media (max-width: 1050px) {
    .add-task-card {
        min-width: auto;
    }

    .add-task-subtaks-dropdown {
        max-height: 55px;
    }
}

@media (max-width: 850px) {
    .add-task-card {
        padding: 24px;
        max-height: 70%;
        width: 90%;
    }

    .add-task-form-overlay {
        min-height: auto;
    }

    .add-task-header h2 {
        font-size: 47px;
    }

    .add-task-form-left-title-input {
        font-size: 14px !important;
    }

    .add-task-form-left-title-input:focus {
        font-size: 14px !important;
    }

    .add-task-form-left-title-input::placeholder {
        font-size: 14px !important;
    }

    .add-task-form-textarea {
        font-size: 14px !important;
    }

    .add-task-form-textarea::placeholder {
        font-size: 14px !important;
    }

    .add-task-form-default-inputs::placeholder {
        font-size: 14px !important;
    }

    .add-task-form-default-inputs {
        font-size: 14px !important;
        padding-right: 80px !important;
    }

    .add-task-priority-btns svg {
        height: 15px;
    }

    .add-task-subtaks-dropdown {
        max-height: none;
    }

    .g-8 {
        gap: 24px;
    }
}

@media (max-width: 500px) {

    .add-task-priority-btns p {
        font-size: 14px !important
    }


    .add-task-header>h2 {
        height: auto;
        padding-bottom: 24px;
    }

    .add-task-header h2 {
        font-size: 36px;
    }

    .add-task-form-subtasks-dropdown-subtasks-list-item-subtask-title {
        padding-right: 40px;
    }

    .add-task-subtaks-dropdown ul {
        list-style-type: none;
        gap: 2px !important;
    }

    .add-task-subtaks-dropdown ul li {
        height: auto;
    }

    .add-task-form-subtasks-dropdown-subtasks-list-item{
        padding: 6px 10px !important;
    }

    .add-task-form-create-btn p{
        font-size: 16px !important;
    }
    
    .add-task-form-clear-btn p{        
        font-size: 16px !important;
        outline: none;
    }
}