@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype"),
    url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  box-sizing: border-box;
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  touch-action: manipulation;
  font-family: 'Inter';
}



:root {
  --summary-color: #F6F7F8;
  --header-color: #FFFFFF;
  --side-color: #2A3647;
  --side-active-color: #091931;
  --text-color: #000000;
  --inter-text-color: #2A3647;
  --inter-text-accent-color: #29ABE2;
  --seperator-color: #D1D1D1;

  --weight-100: 100;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-21: 21px;
  --font-size-27: 27px;
  --font-size-30: 30px;
  --font-size-36: 36px;
  --font-size-47: 47px;
  --font-size-61: 61px;
  --font-size-64: 64px;
}

body {
  font-family: "Inter", sans-serif;
  flex-direction: column;
}

::-webkit-scrollbar{
  display: none;
}

h2 {
  font-size: 61px;
  font-weight: 700;
}

h3{
  font-size: 64px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: rgba(66, 82, 110, 1);
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

.layout {
  display: flex;
  width: 100%;
  background-color: rgba(246, 247, 248, 1);
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.d_none {
  display: none;
}

.of_hidden{
  overflow: hidden;
}

@media (max-width: 800px) {
  body{
    overflow: auto;
  }

  .layout{
    flex-direction: column-reverse;
  }
}