@import url(./standart.css);
@import url(./summary.css);
@import url(./summary_resp.css);
@import url(./board.css);
@import url(./navbar.css);
@import url(./contacts.css);
@import url(./contacts_template.css);
@import url(./task_overlay.css);
@import url(./login.css);
@import url(./sign_up.css);
@import url(./keyframes.css);
@import url(./login_responsive.css);
@import url(./contacts_keyframes.css);
@import url(./contacts_responsiv.css);
@import url(./contacts_overlay.css);
@import url(./contacts_overlay_responsiv.css);
@import url(./overlay_board_template.css);
@import url(./add_task.css);
@import url(./add_task_buttons.css);
@import url(./add_task_inputs.css);
@import url(./add_task_overlay.css);
@import url(./add_task_responsive.css);
@import url(./header.css);
@import url(./board_resp.css);
@import url(./task_overlay_resp.css);
@import url(./edit_task.css);
@import url(./edit_task_resp.css);