.summary-main {
    height: calc(100vh - 96px);
    padding: 80px;
}

.summary-header2 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 48px;
}

.summary-header2 div {
    width: 3px;
    height: 59px;
    background-color: rgba(41, 171, 226, 1);
}

.summary-header2 span {
    font-size: 27px;
}

.summary-main-section{
    display: flex;
}

.summary-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 560px;
}

.card-row {
    display: flex;
    justify-content: space-between;
}

.first-card-row {
    display: flex;
    align-items: center;
    padding: 28px 60px;
    gap: 18px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    height: 168px;
}

.first-card-row-logo {
    width: 69px;
    height: 69px;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-card-row-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 57px;
}

.first-card-row-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-card-row-desc span {
    font-size: 20px;
    color: rgba(42, 54, 71, 1);
}

.second-card-row {
    display: flex;
    align-items: center;
    gap: 61px;
    padding: 28px 60px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    height: 168px;
}

.second-card-row-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 57px;
}

.second-card-row-desc span {
    font-size: 16px;
    color: rgba(42, 54, 71, 1);
}

.summary-category {
    display: flex;
    align-items: center;
    gap: 18px;
}

.summary-category-logo {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 61, 0, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-card-divider {
    width: 2px;
    background-color: rgba(209, 209, 209, 1);
    height: 100%;
}

.deadline-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: rgba(42, 54, 71, 1);
}

.deadline-section span {
    font-size: 21px;
    font-weight: 700;
}

.deadline-section p {
    font-size: 16px;
}

.third-card-row {
    padding: 25px;
    gap: 13px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 168px;
    height: 168px;
}

.third-card-row span{
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: rgba(42, 54, 71, 1);
}