.summary-board-container{
  width: 550px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 50px;
}

.summary-board-panels{
  width: 100%;
  display: flex;
  gap: 32px;
}

.summary-board-panel{
  width: 100%;
  height: 168px;
  border-radius: 20px;
  background-color: var(--header-color);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

