.dialog{
    width: 100%;
    height: 100vh;
    top: 0;
    position: fixed;
    transition: 125ms ease-in-out;
    transform: translateX(100%);
}

.tf_tlx100{
    transform: translateX(0);
}

.bleur-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: 0ms;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.244);
}

.open-close-dialog{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
}

.task-overlay{
    width: 525px;
    height: fit-content;
    border-radius: 30px;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.task-overlay header{
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-task-label{
    width: 164px;
    height: 100%;
    border-radius: 8px;
    padding: 4px 24px;
    width: fit-content;
    color: white;
    font-size: 23px;
    background-color: rgba(0, 56, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-button:hover{
    background-color: rgb(238, 238, 238);
}

.close-button svg{
    fill: #2A3647;
}

.main-task-decription{
    font-size: 20px;
}

.main-task-date{
    display: flex;
    gap: 25px;
}

.date{
    font-size: 20px;
}

.due-date{
    color: #2A3647;
    font-size: 20px;
}

.main-task-priority{
    display: flex;
    align-items: center;
    gap: 25px;
}

.priority-class{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 4px 18px;
    gap: 10px;
}

.main-task-assigned-list{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.assigned{
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 7px 16px;
    gap: 16px;
}

.asssigned-person-logo{
    width: 42px;
    height: 42px;
    border: 2px solid white;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
}

.asssigned-person{
    font-size: 19px;
}

.main-task-subtasks{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-list::-webkit-scrollbar{
    display: none;
}

.subtask-list{
    height: 200px;
    overflow-y: scroll;
}

.subtask{
    display: flex;
    align-items: center;
    padding: 6px 16px;
    gap: 16px;
    cursor: default;
}

.subtask-checkbox{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.subtask-checkbox:hover{
    background-color: rgb(238, 238, 238);
}

.subtask-quest{
    font-size: 16px;
}

.task-overlay footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.main-task-edit{
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-task-edit:hover p,
.main-task-edit:hover svg path {
    color: rgba(41, 171, 226, 1);
    fill: rgba(41, 171, 226, 1);
    font-weight: 700;
}


.edit-logo{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-logo svg{
    fill: #2A3647;
}

.edit-divider{
    width: 1px;
    height: 24px;
    background-color: rgba(209, 209, 209, 1);
}